.container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.topBar {
  text-align: center;

  img {
    height: 50px;
    margin-top: 20px;
  }
}

.imgPersonagemContainer {
  display: flex;
  align-items: center;
  height: 100%;

  img {
    height: 100%;
    margin-right: 50px;
    -webkit-animation-name: imageShowCharacter, floatCharacter;
    -webkit-animation-duration: 2s, 5s;
    -webkit-animation-delay: 0s, 2s;
    -webkit-animation-fill-mode: forwards, forwards;
    -webkit-animation-timing-function: ease-out, ease-out;
    -webkit-animation-iteration-count: infinite;
  }

}

.fundoLogin {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #222222;
  z-index: -1;

  div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 0;
    top: 0;
    left: 0;
  }

  img {
    object-fit: cover;
  }

}

.boxCenter {
  min-width: 70%;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
  position: relative;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }

}

.infoLogin {
  h1 {
    color: #f78b28;
    font-size: 4rem;
    margin-bottom: 15px;

    span {
      animation: upAnimation .3s ease-out forwards;
      position: relative;
      display: inline-block;
      margin-right: 15px;
      animation-delay: .0s;
      opacity: 0;

      &:nth-child(2) {
        animation-delay: .2s;
      }

      &:nth-child(3) {
        animation-delay: .3s;
      }

    }
  }

  h2 {
    color: #ddd;
    font-size: 40px;
    animation: fadeInRight .5s ease-out forwards;
    margin-bottom: 15px;
    animation-delay: .3s;
    opacity: 0;
  }

  p {
    color: #ddd;
    font-size: 20px;
    opacity: 0;
    margin: 10px auto;
    animation: fadeInRight .5s ease-out forwards;
    animation-delay: .2s;
  }
}

.formGroupLogin, .formGroupSignOut {
  margin-top: 30px;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;

  .createAccount, .loginUser {
    color: #ddd;
    opacity: .7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;

    a {
      cursor: pointer;
    }

    svg {
      font-size: 1.5em;
      margin-left: 10px;
    }

  }

}

@keyframes upAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  80% {
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes imageShowCharacter {
  0% {
    opacity: 0;
    transform: translateY(200px) translateX(200px) scale(0);
  }

  70% {
    transform: translateY(0) translateX(0) scale(1.08);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatCharacter {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  70% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}