.navbar {
  width: 100%;
  padding: 30px 20px;
  position: fixed;
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-around;
  border-bottom: .5px rgba(255,255,255, .3) solid;
  color: #d26e29;
  //background: #222222;
  z-index: 100000;

  .logo {
    margin-right: 30px  !important;
  }

  .start, .end {
    display: flex;
    flex-direction: row;
  }

  .item-menu {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: auto 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;


    &:hover {
      //font-weight: bold;
    }

  }
}
