.bodySerch {
  position: absolute;
  top: 0;
  background: #111111;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;

  .form-search {
    max-width: 900px;
    margin: 40vh auto 80px;
    overflow: hidden;
    overflow-y: auto;
    transition: all ease-in-out .2s;
  }

  .form-search-filled {
    margin-top: 20vh;
  }

  .animesListSearch {
    margin-top: 50px;
  }

  .filters {
    display: flex;
    justify-content: center;

    div {
      display: inline-flex;
      align-items: center;
      padding: 5px;
      background: #F78B28;
      border-radius: 5px;
      color: #ffffff;
      margin: auto 5px 5px 0;
      cursor: pointer;
    }
  }

  .search {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
  }

  .grid-animes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .form-search {
    display: flex;
  }
}
