.containerCategories {
  width: 100%;

  .bannerCategories {
    position: fixed;
    height: 70%;
    width: 100%;

    .content {
      height: 70%;
      width: 100%;
      z-index: 0;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      color: #ffffff;

      .info {
        margin: auto auto auto 10%;
        width: 70%;

        .title {
          font-size: 3rem;
          font-weight: bold;
          margin: 10px auto;
          animation: rightToLeftOpacity ease-out 1s;
          position: relative;
        }

        .infotop {
          font-size: 1.3rem;
          display: flex;
          align-items: center;
          opacity: 0;
          animation: rightToLeftOpacity linear .5s forwards;
          position: relative;
          animation-delay: .3s;

          span {
            display: flex;
            align-items: center;
            margin-right: 10px;

            svg {
              margin-right: 5px;
              color: #ffb000;
            }

            .destaque {
              color: #d26e29;
              margin: auto 5px;
              font-weight: bold;
            }

          }

          .star {
            font-size: 1.5rem;
            font-weight: bold;
          }

        }

        .description {
          width: 100%;
          line-height: 40px;
          opacity: 0;
          animation: rightToLeftOpacity linear .5s forwards;
          position: relative;
          animation-delay: .3s;
        }

        .buttonsBanner {
          display: flex;
          align-items: center;
          margin-top: 20px;

          button {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 23px;
            font-weight: normal;
            color: #fff;
            margin-right: 20px;
            padding: 12px 20px;
            border-radius: 30px;
            transition: all linear .2s;

            &:hover {
              transform: scale(1.05);
              box-shadow: rgba(210, 110, 41, 0.33) 0 0 10px 5px;
            }

            svg {
              margin-right: 20px;
            }

            &:nth-child(1) {
              background: #d26e29;
            }

            &:nth-child(2) {
              background: #111111;
            }

          }
        }
      }
    }
  }

  .contentCategories {
    position: absolute;
    top: 70%;
    background: #222;
    width: 100%;
    overflow: hidden;
  }

  .listCategories {
    width: 100%;
    padding: 10px;

    ul {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 20px;

      li {
        border-radius: 5px;
        border: solid 2px #d26e29;
        text-align: center;
        padding: 20px 10px;
        font-size: 1.3em;
        font-weight: bold;
        color: #d26e29;
        cursor: pointer;
        transition: all ease-out .2s;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: #d26e29;
          color: #ddd;
        }
      }
    }
  }

  .seeAllCAtegories {
    display: flex;
    flex: 1;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    color: #ddd;
    margin-top: -50px;
    margin-right: 10px;

    span {
      margin-left: auto;
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;
      transition: all ease-out .2s;

      &:hover {
       background: #111111;
      }

    }

    svg {
      color: #d26e29;
      margin-left: 5px;
    }

  }

}
